:root {
  --space-cadet: rgba(52, 52, 74, 1);
  --wisteria-background: rgba(191, 154, 202, .6);
  --wisteria: rgba(151, 104, 152, 1);
  --carolina-blue: rgba(0, 168, 232, 1);
  --blue-text: rgb(20, 90, 200);
  --carolina-blue-background: rgba(0, 168, 232, .4);
  --laser-lemon: rgba(240, 247, 87, 1);
  --coquelicot: rgba(252, 68, 15, 1);
  --coquelicot-background: rgba(252, 68, 15, .3);
  --red-text: rgb(255, 40, 20);
  --catawba: rgba(119, 51, 68, 1);
  --catawba-background: rgba(119, 51, 68, .4);
}

/* * {
  border: 1px solid red !important;
} */

html,
body,
div,
h1,
h2,
h3,
h4,
p,
a,
nav,
header {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background: white;
  font-weight: 300;
  color: black;
  line-height: 1;
  font-size: 12pt;
}

nav {
  text-align: right;
  position: sticky;
  top: 0px;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  opacity: 1;
  z-index: 99;
}

nav a {
  color: black;
  font-size: 12pt;
  font-weight: 300;
  padding-left: 3em;
  padding-right: 0;
  margin: 0;
  text-decoration: none;
}

nav a:hover {
  color: var(--carolina-blue);
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.selected {
  font-weight: 600;
}

#home {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#title {
  padding-bottom: 0;
}

h1 {
  font-weight: 600;
  font-size: 30pt;
  margin-top: 0;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}

h2 {
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 1rem;
  color: var(--blue-text);
  text-align: center;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 2rem;
}

h4 {
  margin-bottom: 1.15rem;
  font-weight: 600;
}

p {
  font-size: 12pt;
  margin-bottom: 1.5rem;
}

.logo {
  width: 20px;
}

#heading {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  #heading {
    grid-template-columns: 1fr 2fr;
  }
}

#intro {
  padding: 0;
  gap: 1rem;
  margin: 2em;
  /* line-height: 3em; */
}

#home>h4 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--space-cadet);
  font-size: 20px;
}

#intro>p {
  line-height: 1.15em;
}

#headshot {
  height: 350px;
  margin: auto;
  gap: 1rem;
  border: 8px solid white;
  border-radius: 50%;
}

#resume {
  margin: auto;
}

#resume>p {
  display: inline-block;
  font-size: 14pt;
}

#resume>a {
  color: white;
  text-decoration: none;
  font-size: 14pt;
  background-color: var(--carolina-blue);
  padding: .5em 1em .5em 1em;
}

#resume>a:hover {
  background-color: black;
}

.down-arrow {
  padding-top: 2em;
}

.down-arrow>a {
  color: var(--carolina-blue);
}

.container {
  width: 85%;
}

#programming {
  background-color: var(--carolina-blue-background);
}

#programming>.container>h1 {
  color: var(--space-cadet);
}

#programming>.container>p {
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.skill-row {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 90%;
  display: grid;
  margin: 0 auto;
  padding-bottom: 5vh;
  /* height: vh; */
}

.skill-col {
  padding: 0 1rem 0 1rem;
  gap: 1rem;
}

.skill-col>h4 {
  text-align: center;
  font-size: 14pt;
  color: var(--coquelicot);
}

.skill-col>img {
  width: 7rem;
  margin: auto;
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 25% 25%;
}

#projects>.container>h1 {
  color: var(--catawba);
}

#projects>.container>p {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.accordion-wrapper {
  width: 100%;
}

.accordion-item {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.accordion-item-heading {
  cursor: pointer;
  width: 100%;
  padding-left: 2rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.accordion-item-heading>.heading-text>h3 {
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-horizontal {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}

.list-horizontal li {
  display: inline-block;
  color: black;
}

.list-horizontal li:before {
  content: '\00a0\2022\00a0\00a0';
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.list-horizontal li:first-child:before {
  content: '';
}

.close .list-horizontal li {
  color: white;
}

.close .list-horizontal li:before {
  content: '\00a0\2022\00a0\00a0';
  color: white;
  font-size: 20px;
}

.close .list-horizontal li:first-child:before {
  content: '';
}

.close .accordion-item-heading {
  background-color: var(--wisteria);
  color: white;
}

.close i {
  transform: rotate(180deg);
}

.close .accordion-item-content {
  height: 0px;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float: left;
  display: block;
}

.open .accordion-item-content {
  padding: 20px;
  border: .1rem solid #ddd;
  background-color: #ddd;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display: block;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}

.open .accordion-item-heading {
  margin: 0px;
  background-color: #ddd;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--space-cadet);
}

.open .list-horizontal {
  margin-bottom: 0;
}

.open .accordion-item-heading>img {
  transform: rotate(0);
}

.project-row1 {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;
  display: grid;
  margin: auto;
}

.project-row2 {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;
  display: grid;
  margin-bottom: 0;
  margin: auto;
}

.project-col {
  height: 60vh;
  padding: 0 2rem 0 2rem;
  gap: 5rem;
}

.project-col>h4 {
  margin: 0;
}

.project-row1>.row-left>img {
  width: 85%;
  padding-left: 2rem;
  margin: auto;
}

.project-row1>.row-left>p {
  font-size: 10pt;
  padding-left: 2rem;
  width: 85%;
}

.project-row1>.row-right a img {
  padding: .25rem;
  margin-left: .5rem;
  background-color: white;
  border-radius: 25%;
  vertical-align: middle;
}

.project-row1>.row-right {
  padding-top: 2rem;
  padding-right: 2rem;
  line-height: 1.15;
}

.project-row2>.row-right>img {
  width: 85%;
  margin: auto;
  padding-left: 2rem;
}

.project-row2>.row-right>p {
  font-size: 10pt;
  margin: 0;
  padding-left: 2rem;
  width: 85%;
}

.project-row2>.row-left {
  padding-left: 2rem;
  padding-top: 2rem;
  line-height: 1.15;
}

.project-row2>.row-left a img {
  padding: .25rem;
  margin-left: .5rem;
  background-color: white;
  border-radius: 25%;
  vertical-align: middle;
}

.code {
  height: 40vh;
  margin: auto;
}

#leadership {
  background-color: var(--carolina-blue-background);
}

#leadership>.container>h1 {
  color: var(--space-cadet);
}

#leadership>.container>p {
  padding-left: 2rem;
  margin-bottom: 3rem;
}

.positions-wrapper {
  /* background-color: var(--catawba-background); */
  /* padding: 2rem 0 2rem 0; */
  width: 95%;
  /* border-radius: 2.5% 2.5%; */
  margin: auto;
}

.positions {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  margin: auto;
  margin-bottom: 1rem;
}

.description-toggle {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 85%;
}

.description-toggle>img {
  width: 100%;
  border: solid white 2px;
  border-radius: 10% 10%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, .7);
  z-index: 80;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10% 10%;
}

.overlay>h4 {
  font-size: 28px;
  margin-bottom: 2rem;
}

.description-toggle:hover .overlay {
  opacity: .8;
}

.description-wrapper {
  width: 82%;
  /* margin: 1.5rem; */
  margin: auto;
  /* background-color: white; */
  /* display: flex; */
}

.close-icon {
  /* height: 3rem; */
  display: absolute;
  position: 0;
}

.description-content i {
  float: right;
  padding-right: 2rem;
  cursor: pointer;
}

.open .description-content {
  /* width: 100%; */
  padding: 2rem;
}

.close .description-content {
  height: 0px;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float: left;
  display: block;
}


#values>.container>h1 {
  color: rgba(235, 85, 45, 1);
}

#values>.container>p {
  padding-left: 2rem;
  margin-bottom: 3rem;
}

#values>.container>p .logo {
  vertical-align: middle;
  padding-left: 1rem;
}


section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
}

footer {
  background-color: var(--carolina-blue-background);
  text-align: right;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer .container {
  display: inline;
}

footer .container p {
  display: inline;
  padding-right: 2em;
}

footer .container img {
  vertical-align: middle;
}